.narrow {
    float: left;
    padding-right: 10px;
}

/**
 * Core styles for the library
 */
.tag-element text {
    text-anchor: middle;
}

.row-drag {
    stroke-width: 2;
    stroke-dasharray: 2, 1;
    stroke: rgba(100, 100, 100, 0.3);
    transition: stroke 300ms ease;
    cursor: row-resize;
}

.row-drag-compact {
    cursor: default;
}

.row-drag:hover {
    stroke-dasharray: none;
    stroke: rgba(100, 100, 100, 0.8);
}

.word text {
    font-size: 16px;
}

/*word coloring for Light mode*/
.word text {
    fill: black;
}

/*word coloring for Dark mode*/
.word.dark text {
    fill: lightgray;
}

.word-cluster path,
.word path, .word.dark path {
    stroke: #6590b4;
    fill: none;
}

.word .word-text, .word.dark .word-text {
    cursor: pointer;
}

.word-cluster text,
.word .word-tag, .word.dark .word-tag {
    font-size: 12px;
    cursor: text;
    fill: #333;
}

/*.word-cluster text,*/
/*.word .word-tag, .word.dark .word-tag {*/
/*    fill: #333;*/
/*}*/

.word .syntax-tag, .word.dark .syntax-tag {
    fill: #d0968f;
}

.toggle-syntax .syntax-tag,
.toggle-syntax .syntax-link {
    display: none;
}

.editing .word-tag,
.editing-text,
.editing text {
    fill: #fff !important;
}

.editing-rect,
.editing rect {
    fill: #a94442;
}

/**
 * Links and link lines (which are SVG Paths)
 */
.link {
    fill: #6590b4;
    stroke-width: 1.5px;
}

.link-main-label {
    font-weight: bold;
    font-size: 12px;
}

.link-arg-label {
    font-size: 11px;
}

/*link background coloring for Light mode*/
.link-text-bg {
    fill: #ececec;
}

/*link background coloring for Dark mode*/
.link-text-bg-dark {
    fill: #353535;
}

.link.syntax-link {
    fill: #999;
}

.link:hover {
    stroke-width: 2.5px;
}

.link path {
    stroke: #6590b4;
    fill: none;
}

.syntax-link path {
    stroke: #999;
    fill: none;
}

.center {
    margin: auto;
}